.menu {
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
  gap: 10px;
}

.menu span {
  display: block;
  height: 120px;
  background: #ffffff;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.menu:hover span:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
  background-color: blue;
}

.menu:hover span:nth-child(2) {
  opacity: 0;
}

.menu:hover span:nth-child(3) {
  background-color: red;
  transform: translateY(-15px) rotate(-45deg);
}
body {
  background-color: black;
}
