 @keyframes move{
    0%{background-color: rgb(50, 149, 149); ; top: 400px;}
    50%{background-color: rgb(50, 149, 149);  top:0px;}
    100%{background-color: rgb(50, 149, 149);  top: 400px;}
}
.box{
    width: 150px;
    height: 150px;
    background-color: rgb(50, 149, 149);
    border-radius: 100%;

    position: relative;
    animation: move;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}