body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 125, 228);
}
.narshv {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(255, 221, 0);
  margin: auto;
}
.nar {
  width: 100vw;
  height: 100vh;
  display: flex;
  left: 50%;
  top: 25%;
}

.cloud {
  width: 350px;
  height: 120px;

  background: #f2f9fe;
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;

  position: absolute;
  margin: 120px auto 20px;
  top: 250px;
  left: 200px;
}

.cloud:after,
.cloud:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}

.cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

.cloud2 {
  width: 350px;
  height: 120px;

  background: #f2f9fe;
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;

  position: absolute;
  margin: 120px auto 20px;
  top: 350px;
  left: 1100px;
}

.cloud2:after,
.cloud2:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}

.cloud2:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.cloud2:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

.cloud3 {
  width: 350px;
  height: 120px;

  background: #f2f9fe;
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;

  position: absolute;
  margin: 120px auto 20px;
  top: 125px;
  left: 850px;
}

.cloud3:after,
.cloud3:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}

.cloud3:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.cloud3:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}
.grass {
  background-color: rgb(2, 76, 2);
  width: 100vw;
  height: 200px;
  bottom: 0px;
}
.mountains {
  display: flex;
}

.mountain {
  width: 200px;
  height: 200px;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 300px solid #2d294a;
}

.mountain:nth-child(1) {
  left: 20%;
}

.mountain:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
}

.mountain:nth-child(3) {
  right: 20%;
}
