.body{
    width: 100%;
    height: auto;
    background-color: blueviolet;
      display: flex;
    justify-content: center;
    align-items: center;
}
.tsenher{
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: repeat(2,250px);
    gap:10px;
}
.nile{
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
.nile:first-child{
    grid-column-start: 1;
    grid-column-end: 3;w
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(2, 40%);
    gap: 5px;
    /* padding-left:  50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px; */
}
/* .nile:first-child{
    grid-column-start: 6;
    grid-column-end: 7;
} */
.nile:nth-child(6){
    grid-column-start: 3    ;
    grid-column-end: 5;
 }
.huh{
    background-color: brown;
    
}
.huh:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
}
