.body {
  background: #2a6a9b;
  background: linear-gradient(
    90deg,
    rgba(42, 106, 155, 1) 0%,
    rgba(12, 174, 199, 1) 50%
  );
  width: 100%;
  height: 100%;
}
/* .whites{
    display: grid;  
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 450px);
    gap: 15px;
} */
.whites {
  justify-content: center;
  align-items: center;
}
.box:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
}
.box:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.box {
  background-color: white;
  border-radius: 5px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.ng {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.navbar {
  background-color: #d9d9d9;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ugs {
  display: flex;
  flex-direction: column;
}
button {
  background-color: black;
  color: white;
  border-radius: 7.5px;
}
h6 {
  color: green;
}
@media screen and (max-width: 1080px) {
  .whites {
    display: grid;
    grid-template-rows: repeat(1, 300px);
    gap: 20px;
  }
}
